<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
               <display-name>Deliver it web application</display-name>
               
               
	<servlet>
		<servlet-name>registerServlet</servlet-name>
	  	<servlet-class>com.restaurant.delivetit.RegisterFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
	  	<url-pattern>/registerForm</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginServlet</servlet-name>
	  	<servlet-class>com.restaurant.delivetit.LoginFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
	  	<url-pattern>/loginForm</url-pattern>
	</servlet-mapping>
               
</web-app>